:root {
  --custom-bg-primary: #3f51b5;
  --custom-bg-danger: #e74a3b;
  --custom-bg-warning: #f6c23e;
  --custom-bg-info: #36b9cc;
  --custom-bg-secondary: #858796;
  --custom-bg-success: #1cc88a;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.9em;
}
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

strong {
  color: black;
}

.lista-autocompletar-item {
  color: #ccc;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  z-index: 99;

  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

.lista-autocompletar-item div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.lista-autocompletar-item div:hover {
  background-color: dodgerblue;
}

.autocompletar-active {
  background-color: dodgerblue !important;
  color: #a1caff;
}

.autocompletar-active strong {
  color: #fff;
}

.select-max:hover {
  color: dodgerblue;
  text-decoration: underline;
}

@media (max-width: 768px) {
  div.alert,
  .input-group-text {
    font-size: 0.8em;
  }

  li a,
  table,
  p,
  #legend-color {
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.2em;
  }

  .card-body {
    padding: 0.7rem;
  }

  .card-footer {
    padding: 0.4rem;
  }

  #btnAdd {
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
    padding-bottom: 0 !important;
    padding-top: 0.1rem !important;
  }
}

.btn-sidebar:hover {
  background-color: #1a1816;
  /* background-color: #3d3a36;*/
}
